<%= form_for(character_template) do |f| %>
  <% if character_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character_template.errors.count, "error") %> prohibited this character_template from being saved:</h2>

      <ul>
      <% character_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if CharacterTemplate.count > 0 %>
    <%= link_to "Fork From Random Template", new_character_template_path(forked_from: 'random'), class: "button", style: "color:white" %>
  <% end %>

  <div class="field">
    <%= f.label :character_name %>
    <%= f.text_field :character_name %>
  </div>

  <div class="field">
    <%= f.label :character_class %>
    <%= f.text_field :character_class %>
  </div>

  <div class="field">
    <%= f.label :background %>
    <%= f.text_field :background %>
  </div>

  <div class="field">
    <%= f.label :race %>
    <%= f.text_field :race %>
  </div>

  <div class="field">
    <%= f.label :alignment %>
    <%= f.text_field :alignment %>
  </div>

  <div class="field">
    <%= f.label :passive_perception %>
    <%= f.number_field :passive_perception %>
  </div>

  <div class="field">
    <%= f.label :armor_class %>
    <%= f.number_field :armor_class %>
  </div>

  <div class="field">
    <%= f.label :initiative %>
    <%= f.number_field :initiative %>
  </div>

  <div class="field">
    <%= f.label :speed %>
    <%= f.number_field :speed %>
  </div>

  <div class="field">
    <%= f.label "Other proficiencies and languages" %>
    <%= f.text_area :other_proficiencies_languages %>
  </div>

  <div class="field">
    <%= f.label :hit_point_max %>
    <%= f.number_field :hit_point_max %>
  </div>

  <div class="field">
    <%= f.label :hit_dice %>
    <%= f.number_field :hit_dice %>
  </div>

  <div class="field">
    <%= f.label :proficiency_bonus %>
    <%= f.text_field :proficiency_bonus %>
  </div>

  <div class="field">
    <%= f.label "Features and traits" %>
    <%= f.text_area :features_traits %>
  </div>

  <div class="field">
    <%= f.label :picture_url %>
    <%= f.text_field :picture_url %>
  </div>


  <h2>Abilities</h2>

  <div class="field">
    <%= f.label "Strength score" %>
    <%= f.number_field :ability_strength_value %>
  </div>

  <div class="field">
    <%= f.label "Strength modifier" %>
    <%= f.number_field :ability_strength_mod %>
  </div>

  <div class="field">
    <%= f.label "Dexterity score" %>
    <%= f.number_field :ability_dexterity_value %>
  </div>

  <div class="field">
    <%= f.label "Dexterity modifier" %>
    <%= f.number_field :ability_dexterity_mod %>
  </div>

  <div class="field">
    <%= f.label "Constitution score" %>
    <%= f.number_field :ability_constitution_value %>
  </div>

  <div class="field">
    <%= f.label "Constitution modifier" %>
    <%= f.number_field :ability_constitution_mod %>
  </div>

  <div class="field">
    <%= f.label "Intelligence score" %>
    <%= f.number_field :ability_intelligence_value %>
  </div>

  <div class="field">
    <%= f.label "Intelligence modifier" %>
    <%= f.number_field :ability_intelligence_mod %>
  </div>

  <div class="field">
    <%= f.label "Wisdom score" %>
    <%= f.number_field :ability_wisdom_value %>
  </div>

  <div class="field">
    <%= f.label "Wisdom modifier" %>
    <%= f.number_field :ability_wisdom_mod %>
  </div>

  <div class="field">
    <%= f.label "Charisma score" %>
    <%= f.number_field :ability_charisma_value %>
  </div>

  <div class="field">
    <%= f.label "Charisma modifier" %>
    <%= f.number_field :ability_charisma_mod %>
  </div>

  <h2>Traits</h2>

  <div class="field">
    <%= f.label "Personality" %>
    <%= f.text_area :trait_personality %>
  </div>

  <div class="field">
    <%= f.label "Ideals" %>
    <%= f.text_area :trait_ideals %>
  </div>

  <div class="field">
    <%= f.label "Bonds" %>
    <%= f.text_area :trait_bonds %>
  </div>

  <div class="field">
    <%= f.label "Flaws" %>
    <%= f.text_area :trait_flaws %>
  </div>

  <h2>Saving Throws</h2>

  <div class="field">
    <%= f.label "Strength value" %>
    <%= f.number_field :saving_throw_strength_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Strength?" %>
    <%= f.check_box :saving_throw_strength_bool %>
  </div>

  <div class="field">
    <%= f.label "Dexterity value" %>
    <%= f.number_field :saving_throw_dexterity_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Dexterity?" %>
    <%= f.check_box :saving_throw_dexterity_bool %>
  </div>

  <div class="field">
    <%= f.label "Constitution value" %>
    <%= f.number_field :saving_throw_constitution_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Constitution?" %>
    <%= f.check_box :saving_throw_constitution_bool %>
  </div>

  <div class="field">
    <%= f.label "Intelligence value" %>
    <%= f.number_field :saving_throw_intelligence_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Intelligence?" %>
    <%= f.check_box :saving_throw_intelligence_bool %>
  </div>

  <div class="field">
    <%= f.label "Wisdom value" %>
    <%= f.number_field :saving_throw_wisdom_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Wisdom?" %>
    <%= f.check_box :saving_throw_wisdom_bool %>
  </div>

  <div class="field">
    <%= f.label "Charisma value" %>
    <%= f.number_field :saving_throw_charisma_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Charisma?" %>
    <%= f.check_box :saving_throw_charisma_bool %>
  </div>

  <h2>Skills</h2>

  <div class="field">
    <%= f.label "Acrobatics value" %>
    <%= f.number_field :skills_acrobatics_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Acrobatics?" %>
    <%= f.check_box :skills_acrobatics_bool %>
  </div>

  <div class="field">
    <%= f.label "Animal handling value" %>
    <%= f.number_field :skills_animal_handling_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Animal handling?" %>
    <%= f.check_box :skills_animal_handling_bool %>
  </div>

  <div class="field">
    <%= f.label "Arcana value" %>
    <%= f.number_field :skills_arcana_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Arcana?" %>
    <%= f.check_box :skills_arcana_bool %>
  </div>

  <div class="field">
    <%= f.label "Athletics value" %>
    <%= f.number_field :skills_athletics_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Athletics?" %>
    <%= f.check_box :skills_athletics_bool %>
  </div>

  <div class="field">
    <%= f.label "Deception value" %>
    <%= f.number_field :skills_deception_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Deception?" %>
    <%= f.check_box :skills_deception_bool %>
  </div>

  <div class="field">
    <%= f.label "History value" %>
    <%= f.number_field :skills_history_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with History?" %>
    <%= f.check_box :skills_history_bool %>
  </div>

  <div class="field">
    <%= f.label "Insight value" %>
    <%= f.number_field :skills_insight_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Insight?" %>
    <%= f.check_box :skills_insight_bool %>
  </div>

  <div class="field">
    <%= f.label "Intimidation value" %>
    <%= f.number_field :skills_intimidation_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Intimidation?" %>
    <%= f.check_box :skills_intimidation_bool %>
  </div>

  <div class="field">
    <%= f.label "Investigation value" %>
    <%= f.number_field :skills_investigation_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Investigation?" %>
    <%= f.check_box :skills_investigation_bool %>
  </div>

  <div class="field">
    <%= f.label "Medicine value" %>
    <%= f.number_field :skills_medicine_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Medicine?" %>
    <%= f.check_box :skills_medicine_bool %>
  </div>

  <div class="field">
    <%= f.label "Nature value" %>
    <%= f.number_field :skills_nature_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Nature?" %>
    <%= f.check_box :skills_nature_bool %>
  </div>

  <div class="field">
    <%= f.label "Perception value" %>
    <%= f.number_field :skills_perception_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Perception?" %>
    <%= f.check_box :skills_perception_bool %>
  </div>

  <div class="field">
    <%= f.label "Performance value" %>
    <%= f.number_field :skills_performance_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Performance?" %>
    <%= f.check_box :skills_performance_bool %>
  </div>

  <div class="field">
    <%= f.label "Persuasion value" %>
    <%= f.number_field :skills_persuasion_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Persuasion?" %>
    <%= f.check_box :skills_persuasion_bool %>
  </div>

  <div class="field">
    <%= f.label "Religion value" %>
    <%= f.number_field :skills_religion_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Religion?" %>
    <%= f.check_box :skills_religion_bool %>
  </div>

  <div class="field">
    <%= f.label "Sleight of hand value" %>
    <%= f.number_field :skills_sleight_of_hand_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Sleight of hand?" %>
    <%= f.check_box :skills_sleight_of_hand_bool %>
  </div>

  <div class="field">
    <%= f.label "Stealth value" %>
    <%= f.number_field :skills_stealth_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Stealth?" %>
    <%= f.check_box :skills_stealth_bool %>
  </div>

  <div class="field">
    <%= f.label "Survival value" %>
    <%= f.number_field :skills_survival_value %>
  </div>

  <div class="field">
    <%= f.label "Proficient with Survival?" %>
    <%= f.check_box :skills_survival_bool %>
  </div>

  <%= f.hidden_field :forked_from, value: @character_template.forked_from %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
