<p id="notice"><%= notice %></p>

<h1>Character Templates</h1>

<table>
  <thead>
    <tr>
      <th>Ability strength value</th>
      <th>Ability strength mod</th>
      <th>Ability dexterity value</th>
      <th>Ability dexterity mod</th>
      <th>Ability constitution value</th>
      <th>Ability constitution mod</th>
      <th>Ability intelligence value</th>
      <th>Ability intelligence mod</th>
      <th>Ability wisdom value</th>
      <th>Ability wisdom mod</th>
      <th>Ability charisma value</th>
      <th>Ability charisma mod</th>
      <th>Trait personality</th>
      <th>Trait ideals</th>
      <th>Trait bonds</th>
      <th>Trait flaws</th>
      <th>Character name</th>
      <th>Character class</th>
      <th>Background</th>
      <th>Race</th>
      <th>Alignment</th>
      <th>Passive perception</th>
      <th>Armor class</th>
      <th>Initiative</th>
      <th>Speed</th>
      <th>Other proficiencies languages</th>
      <th>Hit point max</th>
      <th>Hit dice</th>
      <th>Features traits</th>
      <th>Proficiency bonus</th>
      <th>Saving throw strength value</th>
      <th>Saving throw strength bool</th>
      <th>Saving throw dexterity value</th>
      <th>Saving throw dexterity bool</th>
      <th>Saving throw constitution value</th>
      <th>Saving throw constitution bool</th>
      <th>Saving throw intelligence value</th>
      <th>Saving throw intelligence bool</th>
      <th>Saving throw wisdom value</th>
      <th>Saving throw wisdom bool</th>
      <th>Saving throw charisma value</th>
      <th>Saving throw charisma bool</th>
      <th>Skills acrobatics value</th>
      <th>Skills acrobatics bool</th>
      <th>Skills animal handling value</th>
      <th>Skills animal handling bool</th>
      <th>Skills arcana value</th>
      <th>Skills arcana bool</th>
      <th>Skills athletics value</th>
      <th>Skills athletics bool</th>
      <th>Skills deception value</th>
      <th>Skills deception bool</th>
      <th>Skills history value</th>
      <th>Skills history bool</th>
      <th>Skills insight value</th>
      <th>Skills insight bool</th>
      <th>Skills intimidation value</th>
      <th>Skills intimidation bool</th>
      <th>Skills investigation value</th>
      <th>Skills investigation bool</th>
      <th>Skills medicine value</th>
      <th>Skills medicine bool</th>
      <th>Skills nature value</th>
      <th>Skills nature bool</th>
      <th>Skills perception value</th>
      <th>Skills perception bool</th>
      <th>Skills performance value</th>
      <th>Skills performance bool</th>
      <th>Skills persuasion value</th>
      <th>Skills persuasion bool</th>
      <th>Skills religion value</th>
      <th>Skills religion bool</th>
      <th>Skills sleight of hand value</th>
      <th>Skills sleight of hand bool</th>
      <th>Skills stealth value</th>
      <th>Skills stealth bool</th>
      <th>Skills survival value</th>
      <th>Skills survival bool</th>
      <th>Private</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @character_templates.each do |character_template| %>
      <tr>
        <td><%= character_template.ability_strength_value %></td>
        <td><%= character_template.ability_strength_mod %></td>
        <td><%= character_template.ability_dexterity_value %></td>
        <td><%= character_template.ability_dexterity_mod %></td>
        <td><%= character_template.ability_constitution_value %></td>
        <td><%= character_template.ability_constitution_mod %></td>
        <td><%= character_template.ability_intelligence_value %></td>
        <td><%= character_template.ability_intelligence_mod %></td>
        <td><%= character_template.ability_wisdom_value %></td>
        <td><%= character_template.ability_wisdom_mod %></td>
        <td><%= character_template.ability_charisma_value %></td>
        <td><%= character_template.ability_charisma_mod %></td>
        <td><%= character_template.trait_personality %></td>
        <td><%= character_template.trait_ideals %></td>
        <td><%= character_template.trait_bonds %></td>
        <td><%= character_template.trait_flaws %></td>
        <td><%= character_template.character_name %></td>
        <td><%= character_template.character_class %></td>
        <td><%= character_template.background %></td>
        <td><%= character_template.race %></td>
        <td><%= character_template.alignment %></td>
        <td><%= character_template.passive_perception %></td>
        <td><%= character_template.armor_class %></td>
        <td><%= character_template.initiative %></td>
        <td><%= character_template.speed %></td>
        <td><%= character_template.other_proficiencies_languages %></td>
        <td><%= character_template.hit_point_max %></td>
        <td><%= character_template.hit_dice %></td>
        <td><%= character_template.features_traits %></td>
        <td><%= character_template.proficiency_bonus %></td>
        <td><%= character_template.saving_throw_strength_value %></td>
        <td><%= character_template.saving_throw_strength_bool %></td>
        <td><%= character_template.saving_throw_dexterity_value %></td>
        <td><%= character_template.saving_throw_dexterity_bool %></td>
        <td><%= character_template.saving_throw_constitution_value %></td>
        <td><%= character_template.saving_throw_constitution_bool %></td>
        <td><%= character_template.saving_throw_intelligence_value %></td>
        <td><%= character_template.saving_throw_intelligence_bool %></td>
        <td><%= character_template.saving_throw_wisdom_value %></td>
        <td><%= character_template.saving_throw_wisdom_bool %></td>
        <td><%= character_template.saving_throw_charisma_value %></td>
        <td><%= character_template.saving_throw_charisma_bool %></td>
        <td><%= character_template.skills_acrobatics_value %></td>
        <td><%= character_template.skills_acrobatics_bool %></td>
        <td><%= character_template.skills_animal_handling_value %></td>
        <td><%= character_template.skills_animal_handling_bool %></td>
        <td><%= character_template.skills_arcana_value %></td>
        <td><%= character_template.skills_arcana_bool %></td>
        <td><%= character_template.skills_athletics_value %></td>
        <td><%= character_template.skills_athletics_bool %></td>
        <td><%= character_template.skills_deception_value %></td>
        <td><%= character_template.skills_deception_bool %></td>
        <td><%= character_template.skills_history_value %></td>
        <td><%= character_template.skills_history_bool %></td>
        <td><%= character_template.skills_insight_value %></td>
        <td><%= character_template.skills_insight_bool %></td>
        <td><%= character_template.skills_intimidation_value %></td>
        <td><%= character_template.skills_intimidation_bool %></td>
        <td><%= character_template.skills_investigation_value %></td>
        <td><%= character_template.skills_investigation_bool %></td>
        <td><%= character_template.skills_medicine_value %></td>
        <td><%= character_template.skills_medicine_bool %></td>
        <td><%= character_template.skills_nature_value %></td>
        <td><%= character_template.skills_nature_bool %></td>
        <td><%= character_template.skills_perception_value %></td>
        <td><%= character_template.skills_perception_bool %></td>
        <td><%= character_template.skills_performance_value %></td>
        <td><%= character_template.skills_performance_bool %></td>
        <td><%= character_template.skills_persuasion_value %></td>
        <td><%= character_template.skills_persuasion_bool %></td>
        <td><%= character_template.skills_religion_value %></td>
        <td><%= character_template.skills_religion_bool %></td>
        <td><%= character_template.skills_sleight_of_hand_value %></td>
        <td><%= character_template.skills_sleight_of_hand_bool %></td>
        <td><%= character_template.skills_stealth_value %></td>
        <td><%= character_template.skills_stealth_bool %></td>
        <td><%= character_template.skills_survival_value %></td>
        <td><%= character_template.skills_survival_bool %></td>
        <td><%= character_template.private %></td>
        <td><%= character_template.user_id %></td>
        <td><%= link_to 'Show', character_template %></td>
        <td><%= link_to 'Edit', edit_character_template_path(character_template) %></td>
        <td><%= link_to 'Destroy', character_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Character Template', new_character_template_path %>
