<p id="notice"><%= notice %></p>

<p>
  <strong>Ability strength value:</strong>
  <%= @character_template.ability_strength_value %>
</p>

<p>
  <strong>Ability strength mod:</strong>
  <%= @character_template.ability_strength_mod %>
</p>

<p>
  <strong>Ability dexterity value:</strong>
  <%= @character_template.ability_dexterity_value %>
</p>

<p>
  <strong>Ability dexterity mod:</strong>
  <%= @character_template.ability_dexterity_mod %>
</p>

<p>
  <strong>Ability constitution value:</strong>
  <%= @character_template.ability_constitution_value %>
</p>

<p>
  <strong>Ability constitution mod:</strong>
  <%= @character_template.ability_constitution_mod %>
</p>

<p>
  <strong>Ability intelligence value:</strong>
  <%= @character_template.ability_intelligence_value %>
</p>

<p>
  <strong>Ability intelligence mod:</strong>
  <%= @character_template.ability_intelligence_mod %>
</p>

<p>
  <strong>Ability wisdom value:</strong>
  <%= @character_template.ability_wisdom_value %>
</p>

<p>
  <strong>Ability wisdom mod:</strong>
  <%= @character_template.ability_wisdom_mod %>
</p>

<p>
  <strong>Ability charisma value:</strong>
  <%= @character_template.ability_charisma_value %>
</p>

<p>
  <strong>Ability charisma mod:</strong>
  <%= @character_template.ability_charisma_mod %>
</p>

<p>
  <strong>Trait personality:</strong>
  <%= @character_template.trait_personality %>
</p>

<p>
  <strong>Trait ideals:</strong>
  <%= @character_template.trait_ideals %>
</p>

<p>
  <strong>Trait bonds:</strong>
  <%= @character_template.trait_bonds %>
</p>

<p>
  <strong>Trait flaws:</strong>
  <%= @character_template.trait_flaws %>
</p>

<p>
  <strong>Character name:</strong>
  <%= @character_template.character_name %>
</p>

<p>
  <strong>Character class:</strong>
  <%= @character_template.character_class %>
</p>

<p>
  <strong>Background:</strong>
  <%= @character_template.background %>
</p>

<p>
  <strong>Race:</strong>
  <%= @character_template.race %>
</p>

<p>
  <strong>Alignment:</strong>
  <%= @character_template.alignment %>
</p>

<p>
  <strong>Passive perception:</strong>
  <%= @character_template.passive_perception %>
</p>

<p>
  <strong>Armor class:</strong>
  <%= @character_template.armor_class %>
</p>

<p>
  <strong>Initiative:</strong>
  <%= @character_template.initiative %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @character_template.speed %>
</p>

<p>
  <strong>Other proficiencies languages:</strong>
  <%= @character_template.other_proficiencies_languages %>
</p>

<p>
  <strong>Hit point max:</strong>
  <%= @character_template.hit_point_max %>
</p>

<p>
  <strong>Hit dice:</strong>
  <%= @character_template.hit_dice %>
</p>

<p>
  <strong>Features traits:</strong>
  <%= @character_template.features_traits %>
</p>

<p>
  <strong>Proficiency bonus:</strong>
  <%= @character_template.proficiency_bonus %>
</p>

<p>
  <strong>Saving throw strength value:</strong>
  <%= @character_template.saving_throw_strength_value %>
</p>

<p>
  <strong>Saving throw strength bool:</strong>
  <%= @character_template.saving_throw_strength_bool %>
</p>

<p>
  <strong>Saving throw dexterity value:</strong>
  <%= @character_template.saving_throw_dexterity_value %>
</p>

<p>
  <strong>Saving throw dexterity bool:</strong>
  <%= @character_template.saving_throw_dexterity_bool %>
</p>

<p>
  <strong>Saving throw constitution value:</strong>
  <%= @character_template.saving_throw_constitution_value %>
</p>

<p>
  <strong>Saving throw constitution bool:</strong>
  <%= @character_template.saving_throw_constitution_bool %>
</p>

<p>
  <strong>Saving throw intelligence value:</strong>
  <%= @character_template.saving_throw_intelligence_value %>
</p>

<p>
  <strong>Saving throw intelligence bool:</strong>
  <%= @character_template.saving_throw_intelligence_bool %>
</p>

<p>
  <strong>Saving throw wisdom value:</strong>
  <%= @character_template.saving_throw_wisdom_value %>
</p>

<p>
  <strong>Saving throw wisdom bool:</strong>
  <%= @character_template.saving_throw_wisdom_bool %>
</p>

<p>
  <strong>Saving throw charisma value:</strong>
  <%= @character_template.saving_throw_charisma_value %>
</p>

<p>
  <strong>Saving throw charisma bool:</strong>
  <%= @character_template.saving_throw_charisma_bool %>
</p>

<p>
  <strong>Skills acrobatics value:</strong>
  <%= @character_template.skills_acrobatics_value %>
</p>

<p>
  <strong>Skills acrobatics bool:</strong>
  <%= @character_template.skills_acrobatics_bool %>
</p>

<p>
  <strong>Skills animal handling value:</strong>
  <%= @character_template.skills_animal_handling_value %>
</p>

<p>
  <strong>Skills animal handling bool:</strong>
  <%= @character_template.skills_animal_handling_bool %>
</p>

<p>
  <strong>Skills arcana value:</strong>
  <%= @character_template.skills_arcana_value %>
</p>

<p>
  <strong>Skills arcana bool:</strong>
  <%= @character_template.skills_arcana_bool %>
</p>

<p>
  <strong>Skills athletics value:</strong>
  <%= @character_template.skills_athletics_value %>
</p>

<p>
  <strong>Skills athletics bool:</strong>
  <%= @character_template.skills_athletics_bool %>
</p>

<p>
  <strong>Skills deception value:</strong>
  <%= @character_template.skills_deception_value %>
</p>

<p>
  <strong>Skills deception bool:</strong>
  <%= @character_template.skills_deception_bool %>
</p>

<p>
  <strong>Skills history value:</strong>
  <%= @character_template.skills_history_value %>
</p>

<p>
  <strong>Skills history bool:</strong>
  <%= @character_template.skills_history_bool %>
</p>

<p>
  <strong>Skills insight value:</strong>
  <%= @character_template.skills_insight_value %>
</p>

<p>
  <strong>Skills insight bool:</strong>
  <%= @character_template.skills_insight_bool %>
</p>

<p>
  <strong>Skills intimidation value:</strong>
  <%= @character_template.skills_intimidation_value %>
</p>

<p>
  <strong>Skills intimidation bool:</strong>
  <%= @character_template.skills_intimidation_bool %>
</p>

<p>
  <strong>Skills investigation value:</strong>
  <%= @character_template.skills_investigation_value %>
</p>

<p>
  <strong>Skills investigation bool:</strong>
  <%= @character_template.skills_investigation_bool %>
</p>

<p>
  <strong>Skills medicine value:</strong>
  <%= @character_template.skills_medicine_value %>
</p>

<p>
  <strong>Skills medicine bool:</strong>
  <%= @character_template.skills_medicine_bool %>
</p>

<p>
  <strong>Skills nature value:</strong>
  <%= @character_template.skills_nature_value %>
</p>

<p>
  <strong>Skills nature bool:</strong>
  <%= @character_template.skills_nature_bool %>
</p>

<p>
  <strong>Skills perception value:</strong>
  <%= @character_template.skills_perception_value %>
</p>

<p>
  <strong>Skills perception bool:</strong>
  <%= @character_template.skills_perception_bool %>
</p>

<p>
  <strong>Skills performance value:</strong>
  <%= @character_template.skills_performance_value %>
</p>

<p>
  <strong>Skills performance bool:</strong>
  <%= @character_template.skills_performance_bool %>
</p>

<p>
  <strong>Skills persuasion value:</strong>
  <%= @character_template.skills_persuasion_value %>
</p>

<p>
  <strong>Skills persuasion bool:</strong>
  <%= @character_template.skills_persuasion_bool %>
</p>

<p>
  <strong>Skills religion value:</strong>
  <%= @character_template.skills_religion_value %>
</p>

<p>
  <strong>Skills religion bool:</strong>
  <%= @character_template.skills_religion_bool %>
</p>

<p>
  <strong>Skills sleight of hand value:</strong>
  <%= @character_template.skills_sleight_of_hand_value %>
</p>

<p>
  <strong>Skills sleight of hand bool:</strong>
  <%= @character_template.skills_sleight_of_hand_bool %>
</p>

<p>
  <strong>Skills stealth value:</strong>
  <%= @character_template.skills_stealth_value %>
</p>

<p>
  <strong>Skills stealth bool:</strong>
  <%= @character_template.skills_stealth_bool %>
</p>

<p>
  <strong>Skills survival value:</strong>
  <%= @character_template.skills_survival_value %>
</p>

<p>
  <strong>Skills survival bool:</strong>
  <%= @character_template.skills_survival_bool %>
</p>

<p>
  <strong>Private:</strong>
  <%= @character_template.private %>
</p>

<p>
  <strong>User:</strong>
  <%= @character_template.user_id %>
</p>

<<%= react_component('CharacterTemplateContainer', url: @json_url) %>

<%= link_to 'Edit', edit_character_template_path(@character_template) %> |
<%= link_to 'Back', character_templates_path %>
