<p id="notice"><%= notice %></p>

<%= link_to "Fork This Character", new_character_template_path(forked_from: @character_template.id), class: "button", style: "color:white" %>
<% if @character_template.user_id == current_user.id %>
  <div style="float: right">
    <%= link_to 'Edit', edit_character_template_path(@character_template), class: "success button", style: "color:white" %>
    <%= link_to 'Delete', character_template_path(@character_template), method: :delete, data: {confirm: "Are you sure?"}, class: "alert button", style: "color:white" %>
  </div>
<% end %>

<%= react_component('CharacterTemplateContainer', url: @json_url) %>

<%= link_to 'Back', character_templates_path %>
